@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}

.body {
  background: green;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  background: linear-gradient(rgb(166, 194, 166), rgb(189, 189, 142));
  width: 90vmin;
  height: 92vmin;
  border: 2px solid;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.head {
  background: linear-gradient(red, yellow);
  border: 2px solid purple;
  transform: scale(1.02%);
  border-radius: 9px;
}
.snake {
  background-color: purple;
  border: 0.25vmin solid white;
  border-radius: 12px;
}
.food {
  background: linear-gradient(red, purple);
  border: 0.25vmin solid black;
  border-radius: 8px;
}

#scoreBox {
  position: absolute;
  top: 9px;
  right: 200px;
  font-size: 39px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
